* { box-sizing: border-box; }

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

ul, li, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

.wrapper {
    padding-left: 2.375em;
    padding-right: 2.375em;
}

.hide-mobile {
    display: none;
}

button {
    font-family: 'Nunito', sans-serif;
}

/* ===btns=== */

.view-more-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: unset;
    border: none;
    gap: 0.8em;
    text-decoration: underline;
}

.more-offers {
    font-size: 1.625rem;
} 


.primary-cta {
    background-color: #9BC588;
    border: 2px solid black;
    font-size: 1.375rem;
    box-shadow: 4px 4px 0 0 black;
    width: 100%;
    border-radius: 0.2em;
    font-weight: bold;
    padding: 0.6em 0;
    margin-top: 2em;
}

/* === Typography === */

.nav-list-item a, .email {
    color: black;
}

small, .email {
    font-size: 0.875rem;
}

.user-text, h3 {
    font-weight: normal;
}

.image-text, .price {
    font-weight: bold;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
}

.user-text {
    font-size: 1rem;
    font-weight: 400;
}

h3 {
    font-size: 1.25rem ;
}

.green {
    color: #608A4D;
}

.price {
    font-size: 1.375rem ;
}

.email {
    text-decoration: underline;
}

.nav-list-item a {
    font-size: 1.125rem;
}

small {
    color: #6C7667;
}


/* === Header === */

header {
  background-color: #E8F5E2;
  border-bottom: 1px solid black;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}


/* === hero === */

.left-col, .right-col {
    padding-top: 4em;
    padding-bottom: 3em;
}

.hero {
    background-color: #E8F5E2;
}

.left-col {
 
    text-align: center;
}

.users-photos img {
    width: 3.8rem;
    height: 3.8rem;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 50%;
    margin: 0 -0.6em;
}
 

.right-col {
    padding-left: 2.375em;
    padding-right: 2.375em;
    border-top: 1px solid black;
}

.step {
    display: flex;
    align-items: center;
    gap: 1.4em;
}

/* Created my own dots but wont work in the tablet layout */

/* ol {
    list-style-type: decimal;  Change this to "decimal-leading-zero" for 01, 02, etc. 
} */

/* ol li {
    z-index: 0;
    position: relative;
}

ol li::marker {
    content: counter(list-item) " ";
    font-size: 1rem;
    color: white;
    font-family: 'Nunito', sans-serif;
}

ol li::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    left: -24px;
    z-index: -1;
}

h3 {
    margin-left: 1.25rem;
} */



/* ===Companies=== */

.companies {
    background-color: black;
}

.companies-wrapper {
    padding-top: 3em;
    height: 320px;
}
 
.companies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
}

.company {
    justify-self: center;
}

.more-brands {
    display: none;
}