* { box-sizing: border-box; }

body {
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Consolas", monospace;
    background-color: #DBF3E3;
}